<?xml version="1.0" encoding="windows-1252"?>
<root>
    <!-- Bing Account Settings // -->
    <bing>
        <key>9KZiwjJnD/BbaJHp+Jg9ZUBXPhShsmNNcAfiXrH2hCw</key>
        <id>ab8b82d7-5574-43df-ba48-d9b68cbc4b94</id>
        <url>http://www.bing.com/search?q=</url>
        <url_api>https://api.datamarket.azure.com/Bing/Search/Web?Query=</url_api>
        <externallinks>http://bing.com/search?q=link:[URL]</externallinks>
    </bing>
    
    <!-- Google Account Settings // -->
    <google>        
        <url>http://www.google.com/search?q=</url>
        <externallinks>http://www.google.com/search?q=link:[URL]+-site:[URL]</externallinks>
    </google>
    
    <!-- Yahoo Account Settings // -->
    <yahoo>
        <url>http://search.yahoo.com/search?p=</url>
        <externallinks>http://search.yahoo.com/search?p=link:[URL]</externallinks>
    </yahoo>
</root>
