<?xml version="1.0" encoding="windows-1252"?>
<root>
    <!-- Bing Account Settings // -->
    <bing>
        <url>http://www.bing.com/search?q=</url>
        <externallinks>http://bing.com/search?q=link: [URL] -site:[BASE_URL]</externallinks>
    </bing>
    
    <!-- Google Account Settings // -->
    <google>        
        <url>http://www.google.com/search?q=</url>
        <externallinks>http://www.google.com/search?q=link:[URL]+-site:[BASE_URL]</externallinks>
    </google>
    
    <!-- Yahoo Account Settings // -->
    <yahoo>
        <url>http://search.yahoo.com/search?p=</url>
        <externallinks>http://search.yahoo.com/search?p=link: [URL] -site:[BASE_URL]</externallinks>
    </yahoo>
</root>
